
@import url("reset.css");

.orange{
    color:#DEAE37;
}

.blue{
    background-color: #072638;
}

.light-yellow{
    color: #e1d1b8;
}

.light-grey{
    color: #999999;
}

.text-color{
    color: #363636;
}

.head-color-yellow{
    color: #947349;
}

.navbar-expand-lg .navbar-collapse{
    justify-content : flex-end
}

#home a:hover{
    color:white
}

.nav-item{
    letter-spacing:0.7px ;
    font-weight: bold;
}

/* About */
.about{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-top:60px;
    margin-bottom: 60px;
}

.about-desc{
    flex-basis: 50%;
    padding: 20px;
}

.about-desc h1{
    text-align: center;
}

.about-img{
    flex-basis: 50%;
    text-align: right;
}

.about-img img{
    width: 100%;
}

/* Our offering */
.ourOfferings{
    background-image: url('../assets/world-map.png');
    background-size: cover;
    background-color: #072638;
    padding-bottom: 60px;
}

.ourOfferings .head{
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
}

.ourOfferings .ourOfferings-cards .head{
    font-weight: bold;
    font-size: 16px;
    text-align: left;
    color: white;

}

.ourOfferings .desc{
    color: white;

}

.ourOfferings .card-img-top{
    height: 202px;
}

.ourOfferings-cards{
    flex-basis: 50%;
    padding: 10px;
}

.ourOfferings-cards img{
    width: 50px;
    height:50px;
    border-radius: 30px;
    margin-right: 20px;
}

/* What we do */
.whatWeDo{
    padding-bottom: 60px;
    background: radial-gradient(circle, rgba(214,163,76,1) 38%, rgba(219,186,53,1) 58%, rgba(227,214,32,1) 95%);
}

.whatWeDo .head{
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
    color: #072638 ;
}

.whatWeDo-cards-container{
    display: flex;
    flex-wrap: wrap;
}

.whatWeDo-cards-container .accordion{
    width: 100%;
}

.whatWeDo-cards-container .accordion .card{
    background-color: transparent;
    border: none
}

.whatWeDo-cards-container .accordion .card .card-body{
    padding-left: 0px;
    font-size: 24px;
    line-height: normal;
    letter-spacing: 0.3px;
}

.whatWeDo-cards-container .accordion .card-header{
    background-color: transparent;
    border-bottom:1px solid #5E5942 ;
    padding-left: 0px;

}

.whatWeDo-cards-container .accordion .card-header h2{
    margin-top: 0px;
}

.whatWeDo-cards-container .accordion .card-header button{
    font-size: 25px;
    font-weight: bold;
    padding-left: 0px;
}

.whatWeDo-cards-container .accordion .card-header img{
    vertical-align: middle;
    float: right;
}

.whatWeDo-cards-container .accordion .card-header .btn:focus{
    box-shadow: none;
}

.whatWeExport-cards-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}
.whatWeExport-cards-container .card {
    flex-basis: 30%;
    margin: 10px;
}

/* Products */
.products{
    padding-bottom: 60px;
}
.products .head{
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
}
.products-cards img{
    height: 350px;
    width: 350px;
    object-fit: cover;
}

.products-cards .carousel-head{
    text-align: center;
    font-weight: bold;
}


/* Why choose us */

.whyChooseUs{
    background-color: #76b4d2;
    padding-bottom: 60px;
}

.whyChooseUs .head{
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
    color: white;
}

.whyChooseUs .card-title{
    text-align: center;
    font-weight: bold;
}

.whyChooseUs .card-img-top{
    height: 200px;
}

.whyChooseUs .card-img-top.first-child{
    padding: 30px;
}

footer svg{
    vertical-align: text-top;
}

.footer-company:hover{
    color:white
}

.nav-item a:hover{
    color: white;
}

@media only screen and (max-width: 600px) {
    .about-desc {
      flex-basis: unset;
    }
    .about-img {
        flex-basis: unset;
      }
      .whatWeExport-cards-container .card{
        flex-basis: unset;
      }
  }



.carousel-item {
    height: 680px;
}
    
.carousel-item img {
    position: absolute;
    top: 0;
    left: 0;
    max-height: 100%;
    height: 680px;
    object-fit: cover;
}

  .carousel-item img.logo-video-gif{
    background-color: black;
    object-fit: contain;
}
